.menubar {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.menu-left {
    display: flex;
}

.menubar>.menu-left>div {
    margin-right: 25px;
    text-transform: uppercase;
}

.navlink {
    height: 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.navlink a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.navlink:hover {
    border-bottom: 2px solid black;
}

.navlink a:hover {
    color: black;
}